<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kab.channel66"
    android:versionCode="18"
    android:versionName="1.1" >

    
     <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.GET_TASKS" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.VIBRATE" />
    
    <!--  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    -->
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>

    <application
        
        android:icon="@drawable/icon"
        android:label="@string/app_name"
          >
          <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".VideoViewDemo"
            android:configChanges="screenSize|orientation|keyboard|keyboardHidden|navigation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VideoView"
            android:configChanges="screenSize|orientation|keyboard|keyboardHidden|navigation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation = "sensor" >
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name=".BackgroundPlayer"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".VideoPlayerActivity"
            android:configChanges="screenSize|orientation|keyboard|keyboardHidden|navigation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
            android:screenOrientation = "sensor">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

             <!--    <data
                    android:mimeType="audio/*"
                    android:scheme="http" />
                <data
                    android:mimeType="audio/*"
                    android:scheme="rtsp" />
                <data
                    android:mimeType="audio/*"
                    android:scheme="rtmp" />
                <data
                    android:mimeType="audio/*"
                    android:scheme="udp" />
                <data
                    android:mimeType="audio/*"
                    android:scheme="tcp" />
                <data
                    android:mimeType="audio/*"
                    android:scheme="file" />
                <data
                    android:mimeType="audio/*"
                    android:scheme="content" />
                <data
                    android:mimeType="audio/*"
                    android:scheme="mms" />
                     -->
                <data
                    android:mimeType="video/*"
                    android:scheme="http" />
                <data
                    android:mimeType="video/*"
                    android:scheme="rtsp" />
                <data
                    android:mimeType="video/*"
                    android:scheme="rtmp" />
                <data
                    android:mimeType="video/*"
                    android:scheme="udp" />
                <data
                    android:mimeType="video/*"
                    android:scheme="tcp" />
                <data
                    android:mimeType="video/*"
                    android:scheme="file" />
                <data
                    android:mimeType="video/*"
                    android:scheme="content" />
                <data
                    android:mimeType="video/*"
                    android:scheme="mms" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/x-mpegurl" />
                <data android:mimeType="application/vnd.apple.mpegurl" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:mimeType="application/x-mpegurl"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="rtsp" />
                <data android:scheme="rtmp" />
                <data android:scheme="mms" />
                <data android:scheme="tcp" />
                <data android:scheme="udp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
                <data android:mimeType="application/sdp" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="ftp" />
                <data android:scheme="rtsp" />
                <data android:scheme="rtmp" />
                <data android:scheme="mms" />
                <data android:scheme="tcp" />
                <data android:scheme="udp" />
                <data android:scheme="gopher" />
                <data android:mimeType="video/*" />
                <!-- <data android:mimeType="audio/*" /> -->
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="ftp" />
                <data android:scheme="rtsp" />
                <data android:scheme="rtmp" />
                <data android:scheme="mms" />
                <data android:scheme="tcp" />
                <data android:scheme="udp" />
                <data android:scheme="gopher" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.avi" />
                <data android:pathPattern=".*\\.asf" />
                <data android:pathPattern=".*\\.f4v" />
                <data android:pathPattern=".*\\.flv" />
                <data android:pathPattern=".*\\.mkv" />
                <data android:pathPattern=".*\\.mpeg" />
                <data android:pathPattern=".*\\.mpg" />
                <data android:pathPattern=".*\\.mov" />
                <data android:pathPattern=".*\\.rm" />
                <data android:pathPattern=".*\\.vob" />
                <data android:pathPattern=".*\\.wmv" />
                <data android:pathPattern=".*\\.ts" />
                <data android:pathPattern=".*\\.tp" />
                <data android:pathPattern=".*\\.m3u" />
                <data android:pathPattern=".*\\.m3u8" />
                <data android:pathPattern=".*\\.m4v" />
                <data android:pathPattern=".*\\.mp4" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PlayerActivity"
            android:configChanges="screenSize|orientation|keyboard|keyboardHidden|navigation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name=".LoginLayout"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:label="@string/app_name" >
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="net.hockeyapp.android.UpdateActivity" >
        </activity>
        <activity
            android:name=".WebLogin"
            android:label="@string/app_name"
            android:screenOrientation="portrait" 
            android:exported="false">
            <intent-filter>
            </intent-filter>
        </activity>
         <activity
            android:name="StreamListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" 
            android:exported="false">
            <intent-filter>
            </intent-filter>
        </activity>
       
        <activity
            android:name="com.apphance.android.LauncherActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            
        </activity>
        <activity
            android:name="com.apphance.android.ui.LoginActivity"
            android:launchMode="singleInstance" >
        </activity>
        <activity
            android:name="com.apphance.android.ui.TestCycleActivity"
            android:launchMode="singleInstance" >
        </activity>
        <activity
            android:name="com.apphance.android.ui.ProblemActivity"
            android:configChanges="orientation"
            android:launchMode="singleInstance" >
        </activity>

      <!--    <activity-alias
            android:name=".LauncherActivity"
            android:targetActivity="com.apphance.android.LauncherActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" >
                </action>

                <category android:name="android.intent.category.LAUNCHER" >
                </category>
            </intent-filter>
        </activity-alias>
        
        -->
        
        
         <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" 
            >
           <!-- <intent-filter>
                 <action android:name="com.apphance.android.LAUNCH" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>-->
             <intent-filter>
            <action android:name="android.intent.action.MAIN" >
                </action>

                <category android:name="android.intent.category.LAUNCHER" >
                </category>
                </intent-filter>
        </activity>
        
      <service android:name="BackgroundPlayer"  android:enabled="true"></service>  
      <service android:name="com.parse.PushService" />
<receiver android:name="com.parse.ParseBroadcastReceiver">
  <intent-filter>
    <action android:name="android.intent.action.BOOT_COMPLETED" />
    <action android:name="android.intent.action.USER_PRESENT" />
  </intent-filter>
</receiver> 
    </application>

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" />

   <!-- <instrumentation
        android:name="com.apphance.android.ApphanceInstrumentation"
        android:targetPackage="com.kab.svivatova" >
    </instrumentation>
 --> 
</manifest>